.popup-box {
  display: none;
  position: absolute;
  z-index: 1000;
  width: 98%;
  background: white;
  border-bottom: 1px solid #aaa;
  border-radius: 4px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.1);
  
}
@media (min-width: 32em) {

.popup-box { width: 70%; }
}

.popup-box header,
.popup-box .popup-header {
  padding: 1.25em 1.5em;
  border-bottom: 1px solid #ddd;
}

.popup-box header h3,
.popup-box header h4,
.popup-box .popup-header h3,
.popup-box .popup-header h4 { margin: 0; }

.popup-box .popup-body { padding: 2em 1.5em; }

.popup-box footer,
.popup-box .popup-footer {
  padding: 1em;
  border-top: 1px solid #ddd;
  background: rgba(0, 0, 0, 0.02);
  text-align: right;
}